<section class="footer row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<footer>
			<section class="sub-nav-touch">
				<p><span><a href="https://www.facebook.com/kentnewtonsalon" target="_blank">Facebook</a></span> <span><a class="twitter" href="https://twitter.com/kentnewtonsalon" target="_blank">Twitter</a></span></p>
			</section>
			<ul class="pull-left">
				<li>1315 Washington Street, Boston, MA 02118</li>
				<li>617.426.2640</li>
				<li><a href="mailto:kent@kentnewtonsalon.com">kent@kentnewtonsalon.com</a></li>
			</ul>
			<p>&copy;2013 Kent Newton Salon, All Rights Reserved</p>
		</footer>
	</div>
	<div class="span1"></div>
</section>
</body>
</html>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>