<section class="footer container-fluid">
	<div class="row">
		<footer>
			<section class="sub-nav-touch">
				<ul class="list-inline list-unstyled">
		            <li><a href="https://www.facebook.com/kentnewtonsalon" target="_blank"><i class="icon-facebook"></i></a></li>
		            <li><a class="twitter" href="https://twitter.com/kentnewtonsalon" target="_blank"><i class="icon-twitter"></i></a></li>
		            <li>
                            <a class="instagram" href="https://www.instagram.com/knsboston/" target="_blank">
                                <span class="icon-instagram" style="position: relative; top: 2px;">
                                    {% include icons/instagram.html %}
                                </span>
                            </a>
                        </li>
		        </ul>
			</section>
			<ul class="left">
				<li>1315 Washington Street, Boston, MA 02118</li>
				<li><a class="phone" href="tel:617-426-2640">617.426.2640</a></li>
				<li><a href="mailto:kent@kentnewtonsalon.com">kent@kentnewtonsalon.com</a></li>
			</ul>
			<p class="right">&copy;2018 Kent Newton Salon, All Rights Reserved</p>
		</footer>
	</div>
</section>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
});
</script>
