<section class="footer container-fluid">
	<div class="row">
		<footer>
			<section class="sub-nav-touch">
				<ul class="list-inline list-unstyled">
            <li><a href="https://www.facebook.com/kentnewtonsalon" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/kentnewtonsalon" target="_blank"><i class="icon-twitter"></i></a></li>
        </ul>
			</section>
			<ul class="left">
				<li>1315 Washington Street, Boston, MA 02118</li>
				<li><a class="phone" href="tel:617-426-2640">617.426.2640</a></li>
				<li><a href="mailto:kent@kentnewtonsalon.com">kent@kentnewtonsalon.com</a></li>
			</ul>
			<p class="right">&copy;2013 Kent Newton Salon, All Rights Reserved</p>
		</footer>
	</div>
</section>
</body>
</html>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/ekko-lightbox.js"></script>
<script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
<script type="text/javascript">
	$(document).ready(function ($) {

		// delegate calls to data-toggle="lightbox"
		$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
			event.preventDefault();
			return $(this).ekkoLightbox({
				onShown: function() {
					if (window.console) {
						return console.log('Checking our the events huh?');
					}
				}
			});
		});

		//Programatically call
		$('#open-image').click(function (e) {
			e.preventDefault();
			$(this).ekkoLightbox();
		});
		$('#open-youtube').click(function (e) {
			e.preventDefault();
			$(this).ekkoLightbox();
		});
	});
</script>
<script src="/js/bootstrap.min.js"></script>