{% include header.html %}
<div id="header">
	<div class="overlay">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="headContent">
					<h1 class="title-head">Services</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="pageContent">
	<div id="services" class="container-fluid">
		<section class="service-nav span3">
			{% include service-nav.html %}
		</section>
		<section id="serviceContent" class="span10">
			{{ page.content }}
		</section>
	</div>
</section>
{% include footer.html %}

<style>
	#header {
		background: url(/images/services/header-services.jpg) no-repeat center center;
		background-size:cover;
	}
</style>