{% include header.html %}
<div id="header">
	<div class="overlay">
		<div class="container-fluid">
			<div class="headContent">
				<h1 class="title-head">Services</h1>
			</div>
		</div>
	</div>
</div>
<section class="pageContent">
	<div id="services" class="container-fluid">
		<div class="row">
			<section class="service-nav">
				<div class="col-sm-3">
					{% include service-nav.html %}
				</div>
			</section>
			<section id="serviceContent">
				<div class="col-sm-9">
					{{ page.content }}
				</div>
			</section>
		</div>
	</div>
</section>
{% include footer.html %}

<style>
	#header {
		background: url(/images/services/header-services.jpg) no-repeat center center;
		background-size:cover;
	}
</style>