{% include header.html %}
	<section class="content row-fluid">
		<div class="span12">
			<div id="header">
				<div class="overlay">
					<section class="container">
						<h1 class="title-head">Services</h1>
					</section>
				</div>
			</div>
			<section id="services">
				<section class="container">
					{% include service-nav.html %}
					{{ page.content }}
				</section>
			</section>
		</div>
	</section>
{% include footer.html %}

<style>
	#header {
		background: url(/images/services/header-services.jpg) no-repeat center center;
		background-size:cover;
	}
</style>